In [81]:
import pandas as pd
import matplotlib
import numpy as np



df = pd.read_csv('produtos.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Produtos         7 non-null      object
 1   PreçoOriginal    7 non-null      object
 2   Moeda            7 non-null      object
 3   Cotação          7 non-null      int64
 4   Preço de Compra  7 non-null      object
 5   Margem           7 non-null      object
 6   Preço de Venda   7 non-null      object
dtypes: int64(1), object(6)
memory usage: 520.0+ bytes

In [82]:
df.describe()

          Cotação
count    7.000000
mean    54.571429
std    130.272608
min      5.000000
25%      5.000000
50%      5.000000
75%      6.000000
max    350.000000

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Produtos         7 non-null      object
 1   PreçoOriginal    7 non-null      object
 2   Moeda            7 non-null      object
 3   Cotação          7 non-null      int64
 4   Preço de Compra  7 non-null      object
 5   Margem           7 non-null      object
 6   Preço de Venda   7 non-null      object
dtypes: int64(1), object(6)
memory usage: 520.0+ bytes

In [84]:
df['Cotal'].value_counts[]

SyntaxError: invalid syntax (Temp/ipykernel_76152/2172100175.py, line 1)